body {
  margin: 200px;
  margin-top: 60px;
  padding: 20px;
  background-color: white;
}

/*| Navigation |*/

@import url(https://fonts.googleapis.com/css?family=Lato);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*| Navigation |*/

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: green;
}
nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}
nav ul li {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}
nav ul li:hover > ul {
  display: block;
}
nav ul li {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #222;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul ul li {
  float: none;
  position: relative;
}
nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
nav ul ul ul {
  position: fixed;
  left: 100%;
  top: 0;
}
.titre {
  text-align: center;
  color: #20c7b0;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: #20c7b0;
  padding-bottom: 30px;
}

.logo {
  width: 450px;
  margin: 20px;
  padding-left: 230px;

  float: center;
}

.img0 {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  padding: 20px;
}

/**************section 1 partie 1******/

.section {
  display: flex;
  flex-direction: column;
}
.section1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.para1 {
  display: flex;
  flex-direction: column;
  font-family: serif;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  padding: 20px;
}

.cardbody {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.section2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;

  margin: 1%;
  height: 345px;
  width: 310px;
  padding: 5px, 20px, 20px;
  color: white;
  background-color: #00ccb1;
  display: flex;
  justify-content: space-between;

  border-radius: 15px;
}

.para2 {
  display: flex;
  flex-direction: column;
}
.titre1 {
  margin: 15px;
}

.img1 {
  width: 20px;
  margin: 10px;
}

.section3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;

  margin: 1%;
  height: 345px;
  width: 310px;
  padding: 5px, 20px, 20px;
  color: white;
  background-color: #3d83df;
  justify-content: space-between;

  border-radius: 15px;
}

.section4 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;

  margin: 1%;
  height: 345px;
  width: 310px;
  padding: 5px, 20px, 20px;
  color: white;
  background-color: #313c48;
  justify-content: space-between;

  border-radius: 15px;
}

.cardbody1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.section2bis {
  display: flex;
  flex-direction: column;
  margin: 0.1px;
  padding: 20px;
  font-size: 1.625em;

  height: 345px;
  width: 310px;

  color: #52cfec;
}

.section3bis {
  display: flex;
  flex-direction: column;
  padding: 1px;
  font-size: 1.625em;

  margin: 1%;
  height: 205px;
  width: 310px;
  color: green;
}

.section4bis {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0.1px;
  font-size: 1.625em;

  margin: 1%;
  height: 345px;
  width: 310px;
  color: green;
}

.para3 {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  color: #747474;
  margin: 50px;
}

.para4 {
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans", monospace;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  padding: 20px;
  color: #ababab;
}

.para5 {
  display: flex;
  flex-direction: column;
  font-size: 2.125rem;
  margin-right: 20px;
}

.country2 {
  display: flex;
  margin: 15px;
}

.country3 {
  display: flex;
  padding-bottom: 2px;
  margin: 15px;
}

.country4 {
  display: flex;
  padding-right: 20px;
  margin: 15px;
}

/***************PARTIE 2 *****************/

.sectiongeneral {
  display: flex;
  flex-direction: row;
  background-color: #dcf8f7;
  width: 150%;
  margin: -160px;
  padding-left: 50px;
}

.main-area {
  margin: -80px;
  padding: -400px;
}

.section5 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  height: 500px;
  width: 360px;
  color: rgb(0, 204, 177);
}

.section6 {
  display: flex;
  margin: 10px;
  padding: 20px;
  flex-direction: row;
  margin: 1%;
  height: 345px;
  width: 310px;
  padding: 5px, 20px, 20px;
  color: white;
  background-color: #3d83df;
  flex-wrap: wrap;
}

.para2 {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  padding: 20px;
}

.para3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  line-height: 1.75;
  font-weight: 100;
  padding: 20px;
  color: #222;
}

.section6bis {
  width: 170px;
  height: 170px;
}

/***************partie2************/

#main {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

#main div {
  width: 250px;
  height: 250px;
}

.A {
  background-color: white;
  margin: 20px;
  margin-bottom: 0.1px;
  padding: 20px;
}

.B {
  background-color: white;
  padding: 20px;
  margin: 7px;
}

.C {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.D {
  background-color: white;
  margin: 0.1px;
  padding: 20px;
}

.p {
  text-align: center;
}

/**************PARTIE 3************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  margin: 30px;
}

.sectiongeneral1 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 60px;
  padding: -20px;
}

.section7 {
  display: flex;
  flex-direction: column;
  margin: 0.1px;
  padding: 20px;
  height: 500px;
  width: 360px;
  color: rgb(0, 204, 177);
  justify-content: center;
}

.partie3 {
  color: #00ccb1;
  padding: 5px;
  font-weight: 5;
  font-family: Work Sans, Arial, sans-serif;

  margin: 1 em 0;

  font-weight: 300;
  letter-spacing: -0.3px;
}

.partie3bis {
  color: #c4c4c4;
  padding: 0.4px;
  margin: 1.6em 0;
  line-height: 1.7142857143;
}

/************5****/

/* Title Format */
h1 {
  color: #20263f;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 50px;
  display: block;
}
.title {
  text-align: left;
  justify-content: left;
  width: 100%;
  height: 75px;
  margin-bottom: 30px;
  animation-name: titleIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

/* Grid Format */
/*Formats the text inside the image*/
/* CARDBODY**********/

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.masthead {
  background-color: #005b75;
}

.masthead p,
.masthead p a {
  color: white;
}

.site-title {
  color: white;
}

.img3 {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card {
  background: white;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}

/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}
.button1 {
  position: absolute;
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 40px 80px;
  cursor: pointer;
}
/**********PARTIE final ****/
.section8 {
  width: 400px;
  height: 100px;
  border: 1px solid #c3c3c3;
  display: flex;
  justify-content: center;
}

#main1 {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-left: 400px;
}

#main1 div1 {
  width: 40px;
  height: 400px;
  text-align: center;
  font-size: 2.1428571429em;

  padding-bottom: 30px;
  color: #333;
}

/*************footer*********/

.footer {
  position: absolute;
  left: 0;
  width: 80%;
  margin: 160px;
  background-color: white;
  color: rgb(171, 171, 171);
  text-align: center;
}

.couleur1 {
  color: #3d83df;
}

.button {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  margin: 9px;
  font-size: 1rem;
  text-align: right;
  color: #fff;
  border-radius: 0.5px;
  background-color: #3d83df;
}
